<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "student" class = "com.training.xml.Student" >
      <property name = "stuName" value = "Rajat"/>
      <property name="stuId" value="125"></property>
      <constructor-arg index="0" ref="address"></constructor-arg>
   </bean>
<bean id="address" class="com.training.xml.Address">
<property name="city" value="Delhi"></property>
<property name="state" value="Delhi"></property>
</bean>
</beans>